.btn,
.btn:active,
.btn:focus,
.btn:visited
  display: inline-block
  width: 180px
  height: 46px
  line-height: 46px
  box-sizing: border-box
  border: 1px solid #ffffff
  transition: $transition

  &:hover
    border-color: $buttonHover
    background-color: $buttonHover
    color: $textDefault