.container
  padding: 20px
  width: 1120px
  min-width: 1120px
  margin: 0 auto
  box-sizing: border-box

  +m(1140)
    width: 980px
    min-width: 980px

  +m(1000)
    width: 100%
    min-width: 100%

.header
  position: absolute
  left: 0
  top: 790px
  width: 100%
  display: flex
  align-items: center
  height: 70px
  background-size: cover
  background-position: center bottom
  z-index: 10

  &__wrap
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    align-items: center
    justify-content: space-between

  &.is-fixed
    position: fixed
    top: 0
    left: 0
    bottom: auto
    background-image: url('images/bg.jpg')  
    z-index: 10

  .logo
    position: relative
    z-index: 11

  .hamburger
    display: none

    +m(1000)
      display: inline-block

  +m(1000)
    top: 0

.hero,
.footer
  background-image: url('images/bg.jpg')
  background-size: cover
  background-position: center bottom
  color: $textLight

.hero
  position: relative
  height: 860px
  display: flex
  align-items: center
  // padding: 140px 0 334px
  text-align: center

  &__wrap
    position: relative
    top: -70px

    +m(1000)
      top: auto

  &__logo
    margin-bottom: 94px

    +m(1000)
      display: none

  &__title
    margin: 30px 0

  &__description
    font-weight: regular

  .btn-group
    margin-top: 50px

.section
  padding: 90px 0 100px
  background-repeat: repeat
  text-align: center

  &__wrap
    overflow: hidden

  &__title
    font-size: 44px

  &.section-papers,
  &.section-contributors
    background-image: url('images/bg_b.png')
    color: $textLight

  &.section-roadmap
    background-image: url('images/bg_board.png')
    color: $textLight

  &.section-what-is
    .section__description
      margin: 16px 0

  &.section-papers
    .section__description
      margin: 18px 0 32px

.footer
  display: flex
  background-position: center top

  &__wrap
    margin: 55px auto 75px
    display: flex
    flex-direction: row
    position: relative

    +m(1000)
      flex-wrap: wrap

  &__col
    margin-right: 96px

    +m(1000)
      margin-bottom: 30px

    &:last-child
      margin-right: 0
  
  &__title
    margin-bottom: 18px
    font-weight: 100

  .copyright
    position: absolute
    right: 0
    bottom: 0

    +m(1000)
      position: relative
      margin-top: 30px
      width: 100%
      text-align: center