.subscribe-text
  font-size: 13px
  
.subscribe
  margin-top: 10px
  display: inline-flex
  flex-direction: row
  flex-wrap: nowrap

  input
    padding: 0 14px
    width: 360px
    height: 46px
    box-sizing: content-box
    background-color: $inputBg

  button
    width: 140px
    height: 46px
    padding: 0 20px
    box-sizing: border-box
    background: $buttonSearchBg
    color: $textLight
    transition: $transition

    &:hover
      background: $linkHover
      color: $textDefault
